@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-rounded/css/uicons-bold-rounded.css");

body {
  margin: 0px;
  padding: 0px;
}

/* Navbar CSS */
.main-head {
  width: 80%;
  margin: auto;
}

ul {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  padding-left: 0px;
}

ul .left-side-nav {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: rgb(99, 94, 94);
}

ul .right-side-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Inter", sans-serif;
}

.right-side-nav button {
  padding: 15px;
  border-radius: 12px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.right-side-nav .log-in {
  background-color: transparent;
  font-family: "Inter", sans-serif;
  border: transparent;
}

.right-side-nav .sign-up {
  background-color: #7f56d9;
  border: transparent;
  font-family: "Inter", sans-serif;
  color: white;
}

.nav-for-phone {
  display: none;
}

/* main-body CSS */

.main-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-img {
  width: 95vh;
}

.left-side-p {
  color: grey;
  font-weight: 400;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.left-btn-shop {
  padding: 20px;
  background-color: #ff1276;
  color: white;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Inter", sans-serif;
  border-radius: 12px;
  border: 1px solid #ff1276;
  cursor: pointer;
}

.left-side-main-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

/* search-container CSS */
.search-container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  border-radius: 52px;
  font-family: "Nunito", sans-serif;
  background-color: #ff1276;
  filter: drop-shadow(5px 7px 23px #ff1276);
  border: 1px solid #ff1276;
}

.search-container .fi-br-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vh;
  height: 7vh;
  font-size: 40px;
  border-radius: 50%;
  background-color: #fbe628;
}

.search-container p {
  font-size: 32px;
  color: white;
}

.search-container input {
  width: 33vh;
  height: 4vh;
  font-family: "Nunito", sans-serif;
  padding: 10px;
  border: 1px solid white;
  font-size: 22px;
  border-radius: 29px;
}

/* shop-category CSS */

.shop-container {
  margin-top: 70px;
}

.shop-category {
  text-align: center;
}

.shop-category-title {
  color: #ff1276;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.shop-category-p-big {
  color: #101828;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.shop-category-p-small {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: #667085;
}

/* item-container CSS */

.item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.vector-img {
  position: relative;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-img {
  position: absolute;
  z-index: 1;
  margin-bottom: 60px;
}

.item-title {
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  border-radius: 52px;
  color: white;
}

.item-title-1 {
  background-color: #46d913;
}

.item-title-2 {
  background-color: #e21213;
}

.item-title-3 {
  background-color: #00afed;
}

.item-title-4 {
  background-color: #ff1276;
}

.item-title-5 {
  background-color: #35c5be;
}

/* Slideshow CSS */

.dots-container {
  text-align: center;
  padding: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #ff1276;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.buttons a {
  cursor: pointer;
}

/* container-img-trending-products CSS */

.container-img-trending-products {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-image: url("sectionBackground/image\ 13.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 55rem;
  object-fit: cover;
}

.top-menu-trending {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.text-trending-div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  line-height: 0px;
}

.p-header-trending {
  color: #ff1276;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.p-title-trending {
  color: #101828;
  font-family: "Nunito", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.p-desc-trending {
  color: #667085;
  font-family: "Inter", sans-serif;
}

.btn-active-trending {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: #00afed;
  border: 1px solid #00afed;
  padding: 12px;
  border-radius: 7px;
  cursor: pointer;
}

.btn-trending {
  font-family: "Inter", sans-serif;
  color: #667085;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

/* cards-container CSS */

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  gap: 20px;
}

.separator-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  width: 18rem;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #c7c7c7;
}

.card .card-price {
  font-family: "Inter", sans-serif;
  color: #ff1276;
  font-size: 20px;
  font-weight: 700;
}

.card-desc {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.card-footer {
  display: flex;
  justify-content: center;
  line-height: 0px;
  flex-direction: column;
  align-items: center;
  background-color: #faf6f9;
  height: 5rem;
  border-radius: 14px;
}

/* offer-container */

.offer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url("offer-icons/image\ 15.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 70vh;
}

.offer-title {
  color: #ff1276;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.offer-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 40px;
}

.right-container-1,
.right-container-2,
.right-container-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: auto;
  padding: 20px;
  border-radius: 12px;
}

.right-container-1 {
  border: 2px dashed #fba628;
  background-color: #fba7282c;
}

.right-container-2 {
  border: 2px dashed #8988f7;
  background-color: #8a88f72f;
}

.right-container-3 {
  border: 2px dashed #16bca9;
  background-color: #16bca934;
}

.right-container-p-1 {
  color: #fba628;
  font-size: 24px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  line-height: 12px;
}

.right-container-p-bot-1 {
  color: #909090;
  font-size: 14px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  line-height: 12px;
}

.right-container-p-2 {
  color: #8988f7;
  font-size: 24px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  line-height: 12px;
}

.right-container-p-bot-2 {
  color: #909090;
  font-size: 14px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  line-height: 12px;
}

.right-container-p-3 {
  color: #16bca9;
  font-size: 24px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  line-height: 12px;
}

.right-container-p-bot-3 {
  color: #909090;
  font-size: 14px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  line-height: 12px;
}

/* gallery-container CSS */

.gallery-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 2.5rem 0rem;
}

.gallery-img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
  border-radius: 20px;
}

/* footer CSS */

footer {
  background-image: url("footer-back/image\ 24.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

.desc-div {
  display: flex;
  justify-content: center;
  gap: 7rem;
}

footer img {
  margin-bottom: 150px;
}

.section-title {
  color: #98a2b3;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 2rem;
}

.desc-div div div p {
  color: #667085;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.new-section {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  gap: 20px;
}

.new-section button {
  color: #027a48;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: #027a4831;
  border: transparent;
  border-radius: 12px;
}

/* Media querry for phone */

@media screen and (max-width: 430px) {
  .nav-for-phone {
    display: block;
  }

  .nav-for-desktop {
    display: none;
  }

  #m-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #drop-down {
    background-color: rgba(29, 92, 165, 0.479);
    padding: 20px;
    border-radius: 15px;
  }

  #drop-down .left-side-nav {
    color: white;
    flex-direction: column;
  }

  #drop-down .right-side-nav {
    flex-direction: column;
    gap: 0px;
    margin-top: 20px;
  }

  #drop-down .right-side-nav button {
    color: white;
  }
}
